
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

#Reports
/accessibility-reports
/screenshots
tests/buy-flow/*
dashboard/
playwright-report.json
/performance-report
/link-validation-reports